body
{
	text-align: center;
}

h1 
{
	font-size: 32px;
	margin: 16px 0 0 0;
	text-align: center;
}

.paras
{
	margin: 4%;
	width: 40%;
	float: left;
	text-align: left;
}

.users
{
	margin: 4%;
	width: 40%;
	float: right;
	text-align: left;
}
